@if (TempData["Message"] != null)
{
    <div class="tempdata">@TempData["Message"]</div>
}
<h1>Categorii</h1>
<br />


@foreach(var category in ViewBag.Categories)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <a href="/Categories/Show/@category.Id" class="btn btn-primary">Afiseaza Categoria</a>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
}

<br />


@if (ViewBag.EsteAdmin == true)
{
    <a href="/Categories/New" class="btn btn-outline-primary">Adauga o categorie</a>
}

<a href="/Topics/Index" class="btn btn-outline-primary">Mergi la topic-uri</a>



